<section ng-app="pato" class="">
	<h1>simplex program</h1>

	<form action="/simplex/index" method="post" class="form-contaier">
 
		<div class="form-group">
			<select name="objective" class="form-control">
				<option value="1" selected>maximizar</option>
				<option value="2">minimizar</option>
			</select>
		</div>
		<div class="form-group">
			<label for="">cantidad de variables</label>
			<input type="text" id="variables" name="variables" class="form-control">
		</div>
		<br>
		<div class="form-group">
			<label for="">cantidad de restricciones</label>
			<input type="text" id="restrictions" name="restrictions" class="form-control">
		</div>
		<br>
		<button class="btn btn-primary btn-block" type="submit">generar formulario</button>
	</form>
</section>